//Sass variables for colors
$color-primary: rgb(75, 116, 206);
$color-primary-dark-1: rgb(35, 72, 151);
$color-primary-dark: rgb(0, 22, 54);

$color-secondary: rgb(33, 189, 168);
$color-secondary-light: rgb(218, 255, 250);

$color-secondary-dark: rgb(2, 59, 52);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dad4d4;

$color-grey-dark: #888;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(46, 43, 43);
$color-white: #fff;
$color-black: #000;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font sizes
$default-font-size: 1.6rem;
$large-font-size: 4rem;
