.btn {
  font-weight: 800;
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    /* transition: all .2s; */
    position: relative;
    font-size: 1.6rem;
    margin: 1rem;
  }

  // /* Refactor Why box shadows do not appear */
  &--green {
    color: #fff;
    background-color: rgb(33, 189, 168);
  }
  &--white {
    color: #fff;
  }

  &--primary__link {
    color: $color-primary-dark;
  }

  &:hover,
  &:active {
    box-shadow: 0 0.5rem 1rem, rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
}
