.sidebar {
  font-size: 2rem;
  font-weight: 400;
  background-color: $color-primary-dark;
  color: $color-white;

  grid-column: sidebar-start/sidebar-end;
  grid-row: sidebar-start/sidebar-end;

  display: grid;
  //justify-items: center;

  &__list {
    padding-top: 2rem;
    list-style: none;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: repeat(4, minmax(5rem, 8rem)) 1fr;
  }

  &__item {
    margin-bottom: 4rem;
  }

  &__item:last-child {
    font-size: 1rem;
    justify-self: center;
    align-self: end;
    text-align: center;
  }
}
